<div class="login-container">

  <div class="login-card">

    <h2 class="title">Welcome Back 👋</h2>
    <p class="subtitle">Login to your account</p>

    <form nz-form [formGroup]="loginForm" (ngSubmit)="submit()">

      <nz-form-item>
        <nz-form-control nzErrorTip="Enter valid email">
          <input nz-input formControlName="email" placeholder="Email address" />
        </nz-form-control>
      </nz-form-item>

      <nz-form-item>
        <nz-form-control nzErrorTip="Enter password">
          <input nz-input type="password" formControlName="password" placeholder="Password" />
        </nz-form-control>
      </nz-form-item>

      <button nz-button nzType="primary" [nzLoading]="loading" nzBlock class="login-btn">
        Login
      </button>

    </form>

  </div>

</div>