<div class="settings-wrapper d-flex gap-3 p-3">

  <!-- <div class="settings-sidebar">
    <div class="sidebar-card">
      <h6 class="sidebar-title">
        <i class="bi bi-wrench me-2"></i>Settings
      </h6>
      <ul class="nav flex-column">
        <li class="nav-item" *ngFor="let item of menuItems">
          <a class="nav-link"
             [routerLink]="item.route"
             routerLinkActive="active">
            <i class="bi {{ item.icon }} me-2"></i>
            {{ item.label }}
          </a>
        </li>
      </ul>
    </div>
  </div> -->

  <div class="settings-content flex-grow-1">
    <router-outlet></router-outlet>
  </div>

</div>